<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LogViewAutomation</display-name>
	<welcome-file-list>
   	<welcome-file>UserLoginView.jsp</welcome-file> 
		 <welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file> 
	</welcome-file-list>
	<servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.ibm.asset.logview.web.actions.UserLoginController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServerDetailsController</display-name>
    <servlet-name>ServerDetailsController</servlet-name>
    <servlet-class>com.ibm.asset.logview.web.actions.ServerDetailsController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.ibm.asset.logview.web.actions.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<description>
  	</description>
  	<display-name>ApplicationsDetailsController</display-name>
  	<servlet-name>ApplicationsDetailsController</servlet-name>
  	<servlet-class>com.ibm.asset.logview.web.actions.ApplicationsDetailsController</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>ServerDetailsController</servlet-name>
    <url-pattern>/ServerDetailsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationsDetailsController</servlet-name>
  	<url-pattern>/ApplicationsDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.ibm.asset.logview.web.actions.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ManageLogViewer</display-name>
  	<servlet-name>ManageLogViewer</servlet-name>
  	<servlet-class>com.ibm.asset.logview.web.actions.ManageLogViewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageLogViewer</servlet-name>
  	<url-pattern>/ManageLogViewer</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>LogSearchCriteriaController</display-name>
  	<servlet-name>LogSearchCriteriaController</servlet-name>
  	<servlet-class>com.ibm.asset.logview.web.actions.LogSearchCriteriaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogSearchCriteriaController</servlet-name>
    <url-pattern>/LogSearchCriteriaController</url-pattern>
  </servlet-mapping>
  
</web-app>
